body {
    background-color: #18171c;
}

header {
    height: 20%;
}

main {
    height: 80%;
}

.titulo {
    color: white;
    font-size: 60px
}

.container {
    background-color: #1f2141;
    height: 150px;
    width: 1100px;
    border-radius: 10px;
    border-color: #414688;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 30px;
}

.input1 {
    height: 35px;
    width: 250px;
    padding-left: 10px;
    background-color: #414688;
    border-color: white;
    border-width: 3px;
    color: white;
}

.input1::placeholder {
    color: white;
}

.input2 {
    height: 35px;
    width: 250px;
    padding-left: 10px;
    background-color: #414688;
    border-color: white;
    border-width: 3px;
    color: white;
}

.input2::placeholder {
    color: white;
}

.boton-crear {
    height: 56px;
    width: 120px;
    border-radius: 10px;
    background-color: #414688;
    color: white;
    border-color: white;
    border-width: 2px;
    font-size: 15px;
}

.lista {
    background-color: #1f2141;
    width: 300px;
    color: white;
    position: relative;
    justify-content: flex-start;
    padding-left: 50px;
}

.lista button {
    background-color: #414688;
    color: white;
    border-radius: 5px;
    border-color: white;
    border-width: 2px;
}

.btnBorrar {
    position: absolute;
    justify-content: flex-end;
}